{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Start Breadcrumb Area -->
    <div class="axil-breadcrumb-area breadcrumb-style-default pt--170 pb--70 theme-gradient">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner">
                        <ul class="axil-breadcrumb liststyle d-flex">
                            <li class="axil-breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="axil-breadcrumb-item"><a href="{% url 'blog:blog_list' %}">Список статей</a></li>
                            <li class="axil-breadcrumb-item active" aria-current="page">{{ object }}</li>
                        </ul>
                        <h1 class="axil-page-title">{{ object }}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="shape-images">
            <i class="shape shape-1 icon icon-bcm-01"></i>
            <i class="shape shape-2 icon icon-bcm-02"></i>
            <i class="shape shape-3 icon icon-bcm-03"></i>
        </div>
    </div>
    <!-- End Breadcrumb Area -->
    <!-- Start Page Wrapper -->
    <main class="page-wrapper">
        <!-- Start Blog Details Area  -->
        <div class="axil-blog-area ax-section-gap bg-color-white">
            <div class="container">
                <div class="row row--40">
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="axil-blog-details-area">
                            <div class="wrapper">
                                <div class="blog-top">
                                    <h3 class="title">{{ object }}</h3>
                                    <div class="author">
                                        <div class="author-thumb">
                                            <img src="{{ object.preview_image.url }}" alt="{{ object }}">
                                        </div>
                                        <div class="info">
                                            <h6>Админ</h6>
                                            <ul class="blog-meta">
                                                <li>{{ object.date_born }}</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail mb--60 mb_sm--20 mb_md--20">
                                    <img class="w-100" src="{{ object.image.url }}" alt="{{ object }}">
                                </div>
                                <div class="content mb--40 mb_sm--20 mb_md--20">
                                    {{ object.content|safe }}
                                </div>
                                <script src="https://yastatic.net/share2/share.js"></script>
                                <div class="ya-share2" data-curtain data-shape="round"
                                     data-services="messenger,vkontakte,telegram"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12 mt_md--40 mt_sm--40">
                        <!-- Start Blog Sidebar  -->
                        <div class="axil-blog-sidebar">

                            <!-- Start Single Widget  -->
                            <div class="axil-single-widget search">
                                <h4 class="title mb--30">Поиск</h4>
                                <div class="inner">
                                    <form action="#" class="blog-search">
                                        <input type="text" placeholder="Поиск…">
                                        <button class="search-button"><i class="fal fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- End Single Widget  -->

                            <!-- Start Single Widget  -->
                            <div class="axil-single-widget category mt--80 mt_sm--30 mt_md--30 mt_lg--40">
                                <h4 class="title mb--30">Категории</h4>
                                <div class="inner">
                                    <ul class="category-list">
                                        {% for item in category_list %}
                                            <li><a href="{% url 'blog:category_list' slug=item.slug %}">{{ item }}</a>
                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>
                            </div>
                            <!-- End Single Widget  -->

                            <!-- Start Single Widget  -->
                            <div class="axil-single-widget share mt--80 mt_sm--30 mt_md--30 mt_lg--40">
                                <div class="inner">
                                    <div class="blog-share d-flex flex-wrap">
                                        <span>Соц.сети:</span>
                                        <ul class="social-list d-flex">
                                            <li><a href="#"><i class="fab fa-vk"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Widget  -->


                        </div>
                        <!-- End Blog Sidebar  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Blog Details Area  -->

        {% include 'call.html' %}
    </main>
    <!-- End Page Wrapper -->
{% endblock content %}