{% extends 'srm/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-sm-6 col-md-6">
        <div class="panel panel-bd lobidisable">
            <div class="panel-heading">
                <div class="btn-group" id="buttonexport">
                    <a href="#">
                        <h4>Добавить заказ</h4>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                {% crispy form %}
            </div>
        </div>
    </div>
{% endblock %}
