{% extends 'base.html' %}

{% block content %}
	<div class="main-content">
        <main class="page-wrapper">
            <!-- Axil Comming Soon Area  -->
            <div class="axil-comming-soon-area axil-comming-soon theme-gradient">
                <div class="wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-8 col-lg-10 col-12">
                                <div class="content">

                                    <div class="inner">
                                        <h1 class="title mb--20">Спасибо, ваше сообщение отправлено!</h1>
                                            <p class="subtitle-2 mb--40 mb_sm--20 mb_md--20">Наш менеджер свяжется с вами в ближайшее время.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Axil Comming Soon Area  -->
        </main>
    </div>
{% endblock %}