{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Start Page Wrapper -->
    <main class="page-wrapper">
        <!-- Start Slider Area -->
        <div class="pv-banner-wrapper theme-gradient-4">
            <div class="pv-banner-area paralax-area">
                <div class="container wrapper">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="inner pt--200 pt_sm--0 pt_md--0">
                                <h1 class="title wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="500ms"
                                    style="visibility: visible; animation-duration: 1s; animation-delay: 500ms; animation-name: slideFadeInUp;">
                                    Создание сайтов, которые работают на Вас</h1>
                                <p class="subtitle-3 wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="800ms"
                                   style="visibility: visible; animation-duration: 1s; animation-delay: 800ms; animation-name: slideFadeInUp;">
                                    Сложные проекты
                                    <br> простым и доступным языком
                                </p>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="shape-group">
                    <div class="shape shape-1">
                        <img src="{% static 'assets/images/preview/shape/shape-01.svg' %}" alt="Shape Images">
                    </div>
                    <div class="shape shape-2">
                        <img src="{% static 'assets/images/preview/shape/shape-02.svg' %}" alt="Shape Images">
                    </div>
                    <div class="shape shape-3">
                        <img src="{% static 'assets/images/preview/shape/shape-03.svg' %}" alt="Shape Images">
                    </div>
                    <div class="shape shape-4">
                        <img src="{% static 'assets/images/preview/shape/shape-04.svg' %}" alt="Shape Images">
                    </div>
                    <div class="shape shape-5">
                        <img src="{% static 'assets/images/preview/shape/shape-05.svg' %}" alt="Shape Images">
                    </div>
                    <div class="shape shape-6">
                        <img src="{% static 'assets/images/preview/shape/shape-06.svg' %}" alt="Shape Images">
                    </div>
                </div>

                <div class="mokup-group">
                    <div class="single-mokup mokup-1">
                        <img class="paralax--1" src="{% static 'assets/images/phone.png' %}" alt="Mokup Images"
                             style="transform: matrix(1, 0, 0, 1, -18.2, -17.15);">
                    </div>
                    <div class="single-mokup mokup-2">
                        <img class="paralax--2" src="{% static 'assets/images/large-mockup.png' %}" alt="Mokup Images"
                             style="transform: matrix(1, 0, 0, 1, -5.2, -4.9);">
                    </div>
                    <div class="single-mokup mokup-3">
                        <img class="paralax--3" src="{% static 'assets/images/small-mockup.png' %}" alt="Mokup Images"
                             style="transform: matrix(1, 0, 0, 1, -12.1333, -11.4333);">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Slider Area -->
        <!-- Start Team Area -->
        <div class="axil-team-area shape-position ax-section-gap bg-color-lightest">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xl-6">
                        <div class="thumbnail">
                            <div class="image">
                                <img src="{% static 'assets/images/team/team-group.png' %}" alt="Team Images">
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5 col-xl-5 offset-xl-1 mt_md--40 mt_sm--40">
                        <div class="content">
                            <div class="inner">
                                <div class="section-title text-left">
                                    <div class="title-wrapper">
                                        <span class="sub-title extra08-color wow" data-splitting>наша команда</span>
                                        <h2 class="title wow show-hide-title" data-splitting>Немного о нас</h2>
                                    </div>
                                    <div class="section-content">
                                        <p class="subtitle-2 wow pr--0 show-hide-block" data-splitting>Наша команда
                                            состоит из людей,
                                            которые абсолютно доверяют друг другу,
                                            поэтому при разработки проектов у нас действует четкий и налаженный
                                            механизм, где
                                            у каждого своя роль. Мы постоянно следим за технологиями и развитием в сфере
                                            программирования и
                                            дизайна,
                                            поэтому в разработке мы используем самые передовые инструменты. В нашей
                                            команде программисты, которые
                                            пишут код на python,
                                            очень быстрый и безопасный язык программирования, благодаря ему мы
                                            значительно ускоряем процесс
                                            разработки сайтов. Дизайнеры и СЕО специалисты постоянно пополняют свои
                                            знания на различных воркшопах
                                            и конкурсах. Популярностью у нас пользуется услуга «сайт под
                                            ключ»,</p>
                                        <div class="axil-button-group mt--40">
                                            <a class="axil-button btn-large btn-transparent"
                                               href="https://kmv-it.ru/contact/"><span
                                                    class="button-text">Заказать консультацию</span><span
                                                    class="button-icon"></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-group">
                <div class="shape shape-1 customOne">
                    <i class="icon icon-shape-06"></i>
                </div>
                <div class="shape shape-2">
                    <i class="icon icon-shape-13"></i>
                </div>
                <div class="shape shape-3">
                    <i class="icon icon-shape-14"></i>
                </div>
            </div>
        </div>
        <!-- End Team Area -->
        <!-- Start Brand Area -->
        <div class="axil-brand-area ax-section-gap bg-color-white">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-8 col-12 title-wrapper">
                        <div class="section-title">
                            <span class="sub-title extra06-color wow" data-splitting>наши клиенты</span>
                            <h2 class="title wow show-hide-title" data-splitting>Клиенты студии</h2>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-8 mt_md--40 mt_sm--40 section-content">
                        <div class="axil-brand-logo-wrapper">
                            <ul class="brand-list liststyle d-flex flex-wrap justify-content-center">
                                <li><a href="#">
                                    <img src="{% static 'assets/images/brand/klient-1.jpg' %}" alt="Brand Logo Images">
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'assets/images/brand/klient-2.jpg' %}" alt="Brand Logo Images">
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'assets/images/brand/klient-3.jpg' %}" alt="Brand Logo Images">
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'assets/images/brand/klient-4.jpg' %}" alt="Brand Logo Images">
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'assets/images/brand/klient-5.jpg' %}" alt="Brand Logo Images">
                                </a></li>
                                <li><a href="#">
                                    <img src="{% static 'assets/images/brand/klient-6.jpg' %}" alt="Brand Logo Images">
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Brand Area -->
        <!-- Start Portfolio Area -->
        <div class="axil-portfolio-area ax-section-gap bg-color-lightest">
            <div class="container axil-masonary-wrapper">
                <div class="row align-items-end title-wrapper">
                    <div class="col-lg-5 col-md-12">
                        <div class="section-title">
                            <span class="sub-title extra07-color wow" data-splitting>наши работы</span>
                            <h2 class="title wow mb--0" data-splitting>Кейсы студии</h2>
                        </div>
                    </div>

                </div>
                <div class="row section-content">
                    <div class="col-lg-7 col-md-12">
                        <div class="messonry-button text-left text-lg-right">
                            <button data-filter="*" class="is-checked"><span class="filter-text">Все</span></button>
                            <button data-filter=".shop" class=""><span class="filter-text">Магазин</span></button>
                            <button data-filter=".visitka" class=""><span class="filter-text">Многостраничник</span>
                            </button>
                            <button data-filter=".landing" class=""><span class="filter-text">Лендинг</span></button>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="mesonry-list grid-metro3 mt--20">
                            {% for item in work_list %}
                                <!-- Start Single Portfolio -->
                                <div class="portfolio portfolio_style--1 axil-control active portfolio-33-33 {{ item.category }}">
                                    <div class="inner move-up wow">
                                        <div class="thumb wow paralax-image">
                                            <a href="{% url 'portfolio:work_detail' slug=item.slug %}"><img
                                                    src="{{ item.preview_image.url }}"
                                                    alt="{{ item }}"></a>
                                        </div>
                                        <div class="port-overlay-info">
                                            <div class="hover-action">
                                                <h4 class="title"><a
                                                        href="{% url 'portfolio:work_detail' slug=item.slug %}">{{ item }}</a>
                                                </h4>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Portfolio -->
                            {% endfor %}


                        </div>
                        <div class="view-all-portfolio-button mt--60 text-center">
                            <a class="axil-button btn-large btn-transparent btn-xxl"
                               href="{% url 'portfolio:work_list' %}"><span
                                    class="button-text">Посмотреть еще</span><span class="button-icon"></span></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Portfolio Area -->
        <!-- Start Service Area -->
        <div class="axil-service-area ax-section-gap bg-color-white">
            <div class="container pt_md--0 pt_sm--0">
                <div class="row">
                    <div class="col-lg-8 col-xl-6">
                        <div class="section-title text-left mb--120 mb_md--5 mb_sm--5 title-wrapper">
                            <span class="sub-title extra08-color wow" data-splitting>наши услуги</span>
                            <h2 class="title wow" data-splitting><span>Услуги <br/>студии</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row section-content">
                    <!-- Start Single Service -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                        <div class="axil-service text-center axil-control paralax-image service-bg-gray">
                            <div class="inner">
                                <div class="icon gradient-color-04">
                                    <div class="icon-inner">
                                        <img src="{% static 'assets/images/icons/layer.svg' %}" alt="Icon Images">
                                        <div class="image-2"><img src="{% static 'assets/images/icons/icon-02.svg' %}"
                                                                  alt="Shape Images">
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title wow"><a href="/razrabotka-saita">Создание сайтов</a></h4>
                                    <p class="wow">Мы создаем качественный продукт от простых сайтов до очень сложных
                                        сервисов.</p>
                                    <a class="axil-button" data-hover="Узнать больше"
                                       href="/razrabotka-saita">Узнать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Service -->

                    <!-- Start Single Service -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                        <div class="axil-service text-center axil-control paralax-image service-bg-gray space-to-top">
                            <div class="inner">
                                <div class="icon gradient-color-02">
                                    <div class="icon-inner">
                                        <img src="{% static 'assets/images/icons/layer.svg' %}" alt="Icon Images">
                                        <div class="image-2"><img src="{% static 'assets/images/icons/icon-04.svg' %}"
                                                                  alt="Shape Images">
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title wow"><a href="/kontekstnaja-reklama">Создание приложений</a>
                                    </h4>
                                    <p class="wow">Делаем мобильные и десктопные приложения для различных операционных
                                        систем</p>
                                    <a class="axil-button" data-hover="Узнать больше" href="/kontekstnaja-reklama">Узнать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Service -->

                    <!-- Start Single Service -->
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                        <div class="axil-service text-center axil-control paralax-image service-bg-gray space-to-top2">
                            <div class="inner">
                                <div class="icon gradient-color-03">
                                    <div class="icon-inner">
                                        <img src="{% static 'assets/images/icons/layer.svg' %}" alt="Icon Images">
                                        <div class="image-2"><img src="{% static 'assets/images/icons/icon-03.svg' %}"
                                                                  alt="Shape Images">
                                        </div>
                                    </div>
                                </div>
                                <div class="content">
                                    <h4 class="title wow"><a href="/prodvijenie-saitov">Вывод в топ-10</a></h4>
                                    <p class="wow">Мы создаем SEO оптимизированные сайты, вы сразу получите готовый для
                                        продвижения продукт.</p>
                                    <a class="axil-button" data-hover="Узнать больше"
                                       href="/prodvijenie-saitov">Узнать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Service -->
                </div>
            </div>
        </div>
        <!-- End Service Area -->
        <!-- Start Review Area -->
        <div class="axil-pricing-table-area pricing-shape-position ax-section-gap bg-color-lightest">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-6">
                        <div class="section-title text-left mb--120 mb_md--5 mb_sm--5 title-wrapper">
                            <span class="sub-title extra07-color wow" data-splitting>наши отзывы</span>
                            <h2 class="title wow" data-splitting><span>Отзывы <br/>студии</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row row--25 section-content">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                        <div style="height:800px;overflow:hidden;position:relative;">
                            <iframe style="width:100%;height:100%;border:1px solid #e6e6e6;border-radius:8px;box-sizing:border-box"
                                    src="https://yandex.ru/maps-reviews-widget/180588696143?comments"></iframe>
                            <a href="https://yandex.ru/maps/org/kukhnya_saytov/180588696143/" target="_blank"
                               style="box-sizing:border-box;text-decoration:none;color:#b3b3b3;font-size:10px;font-family:YS Text,sans-serif;padding:0 20px;position:absolute;bottom:8px;width:100%;text-align:center;left:0">Кухня
                                сайтов на карте Пятигорска — Яндекс.Карты</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="inner">
                        <div class="section-title text-left">
                            <div class="title-wrapper">
                                <span class="sub-title extra04-color wow animated" style="visibility: visible;">немного воды</span>
                                <h2 class="title wow animated" style="visibility: visible;">
                                    Как заказать сайт
                                </h2>
                            </div>
                            <div class="section-content">
                                <p class="subtitle-2 wow animated" style="visibility: visible;">Для того чтобы избавить
                                    себя от решения создать сайт самому, а
                                    так же сложных вопросов и проблем, возникающие по ходу создания сайтов и в которых
                                    вы не являетесь специалистом, вы можете просто заказать создание сайта под ключ и
                                    студия "Кухня сайтов" вам поможет. Насколько результат будет соответствовать желанию
                                    заказчиков, зависит от уровня взаимопонимания и взаимодействия с клиентом. Создание
                                    web сайтов под ключ стоит доверить профессионалам, иначе возможно будете
                                    переплачивать дважды.</p>
                                <a class="axil-button btn-large btn-transparent" href="/razrabotka-saita"><span
                                        class="button-text">Создание сайта</span><span class="button-icon"></span></a>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </div>
            <div class="shape-group">
                <div class="shape">
                    <i class="icon icon-shape-15"></i>
                </div>
            </div>
        </div>
        <!-- End Review Area -->
        <!-- Start Pricing Table Area -->
        <div class="axil-pricing-table-area pricing-shape-position ax-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-6">
                        <div class="section-title text-left mb--120 mb_md--5 mb_sm--5 title-wrapper">
                            <span class="sub-title extra06-color wow" data-splitting>наши цены</span>
                            <h2 class="title wow" data-splitting><span>Цены <br/>в студии</span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row row--25 section-content">
                    <!-- Start Single pricing table -->
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="axil-pricing-table prcing-style-2 mt--40 mt_sm--0">
                            <div class="axil-pricing-inner">
                                <div class="pricing-header">
                                    <h4><a href="/visitka">Многостраничник</a></h4>
                                    <p>Скорее всего это ваш вариант</p>
                                    <div class="price-wrapper">
                                        <div class="price">
                                            <span>от</span>
                                            <h2 class="heading headin-h3">120000 </h2>
                                            <span>рублей</span>
                                        </div>

                                    </div>
                                    <div class="pricing-get-button">
                                        <a class="axil-button btn-large btn-transparent" href="/calc"><span
                                                class="button-text">Рассчитать
											стоимость</span><span class="button-icon"></span></a>
                                    </div>
                                    <span class="subtitle">Гарантия возврата денег</span>
                                </div>
                                <div class="pricing-body">
                                    <div class="inner">
                                        <ul class="list-style">
                                            <li>Уникальный дизайн</li>
                                            <li>Панель управления</li>
                                            <li>Хостинг на 3 месяца</li>
                                            <li>Базовая SEO оптимизация</li>
                                            <li>Почтовый ящик</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single pricing table -->

                    <!-- Start Single pricing table -->
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="axil-pricing-table prcing-style-2 mt--40 active">
                            <div class="axil-pricing-inner">
                                <div class="pricing-header">
                                    <h4><a href="/landing">Одностраничник</a></h4>
                                    <p>Landing Page</p>
                                    <div class="price-wrapper">
                                        <div class="price">
                                            <span>от</span>
                                            <h2 class="heading headin-h3">72000 </h2>
                                            <span>рублей</span>
                                        </div>

                                    </div>
                                    <div class="pricing-get-button">
                                        <a class="axil-button btn-large btn-transparent" href="/calc"><span
                                                class="button-text">Рассчитать
											стоимость</span><span class="button-icon"></span></a>
                                    </div>
                                    <span class="subtitle">Гарантия возврата денег</span>
                                </div>
                                <div class="pricing-body">
                                    <div class="inner">
                                        <ul class="list-style">
                                            <li>Уникальный дизайн</li>
                                            <li>Панель управления</li>
                                            <li>Домен и хостинг на 1 год</li>
                                            <li>Копирайтинг</li>
                                            <li>Метрика и аналитика</li>
                                            <li>Реклама</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single pricing table -->

                    <!-- Start Single pricing table -->
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                        <div class="axil-pricing-table prcing-style-2 mt--40 mt_sm--60">
                            <div class="axil-pricing-inner">
                                <div class="pricing-header">
                                    <h4><a href="/shop">Интернет-магазин</a></h4>
                                    <p>Витрина товаров</p>
                                    <div class="price-wrapper">
                                        <div class="price">
                                            <span>от</span>
                                            <h2 class="heading headin-h3">170000 </h2>
                                            <span>рублей</span>
                                        </div>
                                    </div>
                                    <div class="pricing-get-button">
                                        <a class="axil-button btn-large btn-transparent" href="/calc"><span
                                                class="button-text">Рассчитать
											стоимость</span><span class="button-icon"></span></a>
                                    </div>
                                    <span class="subtitle">Гарантия возврата денег</span>
                                </div>
                                <div class="pricing-body">
                                    <div class="inner">
                                        <ul class="list-style">
                                            <li>Каталог товаров</li>
                                            <li>Фильтр товаров</li>
                                            <li>Панель продавца</li>
                                            <li>Системы оплаты</li>
                                            <li>Система статистики</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single pricing table -->
                </div>
            </div>
            <div class="shape-group">
                <div class="shape">
                    <i class="icon icon-shape-15"></i>
                </div>
            </div>
        </div>
        <!-- End Pricing Table Area -->
        <!-- Start Call To Action -->
        {% include 'call.html' %}
        <!-- End Call To Action -->
        <!-- Start Blog Area -->
        <div class="axil-blog-area ax-section-gap bg-color-lightes">
            <div class="container">
                <div class="row title-wrapper">
                    <div class="col-lg-12">
                        <div class="section-title text-center">
                            <span class="sub-title extra04-color">пишут наши сотрудники</span>
                            <h2 class="title">Полезные статьи</h2>
                            <p class="subtitle-2">Будет полезно, как потенциальным клиентам, так и разработчикам.</p>
                        </div>
                    </div>
                </div>
                <div class="row blog-list-wrapper mt--20 section-content">
                    {% for item in blog_list %}
                        <!-- Start Blog Area -->
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="axil-blog axil-control mt--40 active move-up wow">
                                <div class="content">
                                    <div class="content-wrap paralax-image">
                                        <div class="inner">
                                            <span class="category">{{ item.category }}</span>
                                            <h5 class="title"><a
                                                    href="{% url 'blog:blog_detail' category_slug=item.category.slug slug=item.slug %}">{{ item }}</a>
                                            </h5>
                                            <p>{{ item.description }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail">
                                    <div class="image">
                                        <img src="{{ item.preview_image.url }}" alt="Blog images">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Blog Area -->
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- End Blog Area -->

    </main>
    <!-- End Page Wrapper -->

{% endblock content %}