{% extends 'base.html' %}
{% load static %}

{% block content %}
        <!-- Start Page Wrapper -->
        <main class="page-wrapper">
            <!-- Start Slider Area -->
            <div class="axil-slider-area axil-slide-activation">
                <!-- Start Single Slide -->
                <div class="axil-slide slide-style-default theme-gradient slider-fixed-height d-flex align-items-center paralax-area">
                    <div class="container">
                        <div class="row align-items-center pt_md--60 mt_sm--60">
                            <div class="col-lg-7 col-12 order-2 order-lg-1">
                                <div class="content pt_md--30 pt_sm--30">
                                    <h1 class="axil-display-1 wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="500ms">Готовим вкусные сайты и приложения</h1>
                                    <p class="subtitle-3 wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="800ms">Издевательски вкусно
                                    </p>
                                        <a class="axil-button btn-large btn-transparent wow slideFadeInUp" data-wow-duration="1s" data-wow-delay="1300ms" href="{% url 'portfolio:work_list' %}"><span
                                            class="button-text">Посмотреть
                                            Работы</span><span class="button-icon"></span></a>
                                </div>

                            </div>
                            <div class="col-lg-5 col-12 order-1 order-lg-2">
                                <div class="topskew-thumbnail-group text-left text-lg-right">
<!--                                    <div class="thumbnail paralax-image">-->
<!--                                        <img class="light-image" src="{% static 'assets/images/others/top-povar.jpg' %}" alt="Keystoke Images">-->
<!--                                        <img class="dark-image" src="{% static 'assets/images/others/keystoke-image-6.png' %}" alt="Keystoke Images">-->
<!--                                    </div>-->
<!--                                  <div class="image-group">-->
<!--                                      <img class="paralax-image" src="{% static 'assets/images/others/43658-ai.svg' %}" alt="Keystoke Images">-->
<!--                                   </div>-->
                                    <div class="shape-group">
                                        <div class="shape shape-1 paralax--1">
                                            <i class="icon icon-shape-05"></i>
                                        </div>
                                        <div class="shape shape-2 customOne">
                                            <i class="icon icon-shape-06"></i>
                                        </div>
                                        <div class="shape shape-3 paralax--3">
                                            <i class="icon icon-shape-04"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>
            <!-- End Slider Area -->
            <!-- Start Service Area -->
            <div class="axil-service-area ax-section-gap bg-color-white">
                <div class="container pt_md--0 pt_sm--0">
                    <div class="row">
                        <div class="col-lg-8 col-xl-6">
                            <div class="section-title text-left mb--120 mb_md--5 mb_sm--5">
                                <span class="sub-title extra08-color wow" data-splitting>наши услуги</span>
                                <h2 class="title wow" data-splitting><span>Список услуг <br /> для Вас</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                            <div class="axil-service text-center axil-control paralax-image service-bg-gray">
                                <div class="inner">
                                    <div class="icon gradient-color-04">
                                        <div class="icon-inner">
                                            <img src="{% static 'assets/images/icons/layer.svg'%}" alt="Icon Images">
                                            <div class="image-2"><img src="{% static 'assets/images/icons/icon-02.svg' %}" alt="Shape Images"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title wow"><a href="/razrabotka-saita">Создание сайтов</a></h4>
                                        <p class="wow">Мы создаем качественный продукт от простых сайтов до очень сложных сервисов.</p>
                                        <a class="axil-button" data-hover="Узнать больше" href="/razrabotka-saita">Узнать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                            <div class="axil-service text-center axil-control paralax-image service-bg-gray space-to-top">
                                <div class="inner">
                                    <div class="icon gradient-color-02">
                                        <div class="icon-inner">
                                            <img src="{% static 'assets/images/icons/layer.svg' %}" alt="Icon Images">
                                            <div class="image-2"><img src="{% static 'assets/images/icons/icon-03.svg'%}" alt="Shape Images"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title wow"><a href="/kontekstnaja-reklama">Реклама</a>
                                        </h4>
                                        <p class="wow">Настройка рекламной компании для вашего сайта в поисковых системах yandex и google.</p>
                                        <a class="axil-button" data-hover="Узнать больше" href="/kontekstnaja-reklama">Узнать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->

                        <!-- Start Single Service -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12 move-up wow">
                            <div class="axil-service text-center axil-control paralax-image service-bg-gray space-to-top2">
                                <div class="inner">
                                    <div class="icon gradient-color-03">
                                        <div class="icon-inner">
                                            <img src="{% static 'assets/images/icons/layer.svg' %}" alt="Icon Images">
                                            <div class="image-2"><img src="{% static 'assets/images/icons/icon-03.svg' %}" alt="Shape Images"></div>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h4 class="title wow"><a href="/prodvijenie-saitov">Вывод в топ-10</a></h4>
                                        <p class="wow">Мы создаем SEO оптимизированные сайты, вы сразу получите готовый для продвижения продукт.</p>
                                        <a class="axil-button" data-hover="Узнать больше" href="/prodvijenie-saitov">Узнать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Service -->
                    </div>
                </div>
            </div>
            <!-- End Service Area -->
            <!-- Start Featured Area -->
            <div class="axil-featured-area ax-section-gap bg-color-lightest">
                <div class="container axil-featured-activation axil-carousel" data-slick-options='{
                        "spaceBetween": 0,
                        "slidesToShow": 1,
                        "slidesToScroll": 1,
                        "arrows": false,
                        "infinite": true,
                        "centerMode":true,
                        "dots": true
                    }' data-slick-responsive='[
                        {"breakpoint":769, "settings": {"slidesToShow": 1}},
                        {"breakpoint":756, "settings": {"slidesToShow": 1}},
                        {"breakpoint":481, "settings": {"slidesToShow": 1}}
                    ]'>

                    <!-- Start Single Feature  -->
                    <div class="row d-flex flex-wrap axil-featured row--0">
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12">
                            <div class="thumbnail">
                                <img class="image w-100" src="{% static 'assets/images/featured/banner-order.jpg' %}" alt="Featured Images">
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-5 col-md-12 col-12 offset-xl-1 mt_md--40 mt_sm--40">
                            <div class="inner">
                                <div class="section-title text-left">
                                    <span class="sub-title extra04-color wow">немного воды</span>
                                    <h2 class="title wow">
                                            Как заказать сайт
                                       </h2>
                                    <p class="subtitle-2 wow">Для того чтобы избавить себя от решения создать сайт самому, а так же сложных вопросов и проблем, возникающие по ходу создания сайтов и в которых вы не являетесь специалистом, вы можете просто заказать создание сайта под ключ и студия "Кухня сайтов" вам поможет. Насколько результат будет соответствовать желанию заказчиков, зависит от уровня взаимопонимания и взаимодействия с клиентом. Создание web сайтов под ключ стоит доверить профессионалам, иначе возможно будете переплачивать дважды.</p>
                                    <a class="axil-button btn-large btn-transparent" href="/razrabotka-saita"><span
                                            class="button-text">Создание сайта</span><span class="button-icon"></span></a>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End Single Feature  -->


                </div>
            </div>
            <!-- End Featured Area -->
            <!-- Start About Us Area -->
            <div class="axil-about-us-area ax-section-gap bg-color-white axil-shape-position" id="call">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-6 col-md-12 col-12">
                            <div class="axil-about-inner">
                                <div class="section-title text-left">
                                    <span class="sub-title extra08-color move-up wow">о нас</span>
                                    <h2 class="title move-up wow">Мы делаем дизайн, пишем код <br /> & выводим в топ.</h2>
	                                <p class="subtitle-2 mb--50 mb_lg--20 mb_md--20 mb_sm--15 move-up wow">Мы небольшая студия веб дизайна под названием "Кухня сайтов". Мы создаем сайты, приложения, порталы, сервисы, лэндинги, делаем качественный веб дизайн на заказ для различных тематик бизнеса.</p>
	                                <p class="subtitle-2 move-up wow">Популярностью у нас пользуется услуга «сайт под ключ», которая даёт клиенту возможность избежать лишних затрат, сэкономить время, которое необходимо для поиска специалистов и составления отдельного технического задания для каждого из них, все это в комплексе можно заказать у нас (создание, реклама и продвижение).
	                                </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-5 offset-xl-1 col-md-12 col-12 mt_md--30 mt_sm--30">
                            <div class="contact-form-wrapper">
                                <!-- Start Contact Form -->
                                <div class="axil-contact-form contact-form-style-1">
                                    <h3 class="title">Заказать расчет стоимости сайта</h3>
                                    <form method="post" action="{% url 'lead:lead_create' %}">
	                                    {%  csrf_token %}
                                        <div class="form-group">
                                            <input type="text" name="name"  required>
                                            <label>Имя</label>
                                            <span class="focus-border"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email"  required>
                                            <label>Email</label>
                                            <span class="focus-border"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="phone"
                                                    class="phone-field"
											        data-rule-required="true"
											        data-rule-minlength="10"
											        data-msg="Введите номер телефона"
                                                   required>
                                            <label>Телефон</label>
                                            <span class="focus-border"></span>
                                        </div>
                                        <div class="form-group">
                                            <button class="axil-button btn-large btn-transparent w-100">
                                                <span class="button-text">Узнать цену сайта</span>
	                                            <span class="button-icon"></span>
                                            </button>
                                        </div>
	                                    <span class="privacy-policy-area" style="font-size: 9px">Нажимая на кнопку вы даете согласие на обработку персональных данных и соглашаетесь с <a
			                                    href="/privacy">политикой конфидинциальности</a>
	                                    </span>

                                    </form>
                                    <div class="callto-action-wrapper text-center">
                                        <span class="text">Или позвоните нам</span>
                                        <span><i class="fal fa-phone-alt"></i> <a href="tel:{{ mobile }}">{{ mobile }}</a></span>
                                    </div>
                                </div>
                                <!-- End Contact Form -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Shape Group  -->
                <div class="axil-shape-group">
                    <div class="shape shape-1">
                        <i class="icon icon-shape-12"></i>
                    </div>
                    <div class="shape shape-2">
                        <i class="icon icon-shape-03"></i>
                    </div>
                </div>
                <!-- End Shape Group  -->
            </div>
            <!-- End About Us Area -->
            <!-- Start Portfolio Area -->
            <div class="axil-portfolio-area ax-section-gap bg-color-lightest">
                <div class="container axil-masonary-wrapper">
                    <div class="row align-items-end">
                        <div class="col-lg-5 col-md-12">
                            <div class="section-title">
                                <span class="sub-title extra07-color wow" data-splitting>наши работы</span>
                                <h2 class="title wow mb--0" data-splitting>Некоторые из наших работ.</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mesonry-list grid-metro3 mt--20">
	                            {% for item in work_list %}
                                <!-- Start Single Portfolio -->
                                <div class="portfolio portfolio_style--1 axil-control active portfolio-33-33 cat--1 cat--2">
                                    <div class="inner move-up wow">
                                        <div class="thumb wow paralax-image">
                                            <a href="{% url 'portfolio:work_detail' slug=item.slug %}"><img src="{{ item.preview_image.url }}" alt="{{ item }}"></a>
                                        </div>
                                        <div class="port-overlay-info">
                                            <div class="hover-action">
                                                <h4 class="title"><a href="{% url 'portfolio:work_detail' slug=item.slug %}">{{ item }}</a></h4>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Single Portfolio -->
	                            {% endfor %}


                            </div>
	                        <div class="view-all-portfolio-button mt--60 text-center">
		                        <a class="axil-button btn-large btn-transparent btn-xxl" href="{% url 'portfolio:work_list' %}"><span class="button-text">Посмотреть еще</span><span class="button-icon"></span></a>
	                        </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Portfolio Area -->
            <!-- Start Team Area -->
            <div class="axil-team-area shape-position ax-section-gap bg-color-white">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-xl-6">
                            <div class="thumbnail">
                                <div class="image">
                                    <img src="{% static 'assets/images/team/team-group.png' %}" alt="Team Images">
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 col-xl-5 offset-xl-1 mt_md--40 mt_sm--40">
                            <div class="content">
                                <div class="inner">
                                    <div class="section-title text-left">
                                        <span class="sub-title extra08-color wow" data-splitting>наша команда</span>
                                        <h2 class="title wow" data-splitting>По одиночки мы можем мало, но вместе мы сила</h2>
                                        <p class="subtitle-2 wow pr--0" data-splitting>Наша команда состоит из людей, которые абсолютно доверяют друг другу,
	                                        поэтому при разработки проэкта у нас действует четкий и налаженный механизм, где у каждого своя роль.</p>
                                        <div class="axil-button-group mt--40">
                                            <a class="axil-button btn-large btn-transparent" href="team.html"><span
                                                    class="button-text">Хочу в команду</span><span
                                                    class="button-icon"></span></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shape-group">
                    <div class="shape shape-1 customOne">
                        <i class="icon icon-shape-06"></i>
                    </div>
                    <div class="shape shape-2">
                        <i class="icon icon-shape-13"></i>
                    </div>
                    <div class="shape shape-3">
                        <i class="icon icon-shape-14"></i>
                    </div>
                </div>
            </div>
            <!-- End Team Area -->
            <!-- Start Pricing Table Area -->
            <div class="axil-pricing-table-area pricing-shape-position ax-section-gap bg-color-lightest">
                <div class="container">
                    <div class="row row--25">
                        <!-- Start Single pricing table -->
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="axil-pricing-table prcing-style-2 mt--40 mt_sm--0">
                                <div class="axil-pricing-inner">
                                    <div class="pricing-header">
                                        <h4><a href="/visitka">Многостраничник</a></h4>
                                        <p>Скорее всего это ваш вариант</p>
                                        <div class="price-wrapper">
                                            <div class="price">
	                                            <span>от</span>
                                                <h2 class="heading headin-h3">50000 </h2>
	                                            <span>рублей</span>
                                            </div>

                                        </div>
                                        <div class="pricing-get-button">
                                            <a class="axil-button btn-large btn-transparent" href="/calc"><span class="button-text">Рассчитать стоимость</span><span class="button-icon"></span></a>
                                        </div>
                                        <span class="subtitle">Гарантия возврата денег</span>
                                    </div>
                                    <div class="pricing-body">
                                        <div class="inner">
                                            <ul class="list-style">
                                                <li>Уникальный дизайн</li>
                                                <li>Панель управления</li>
                                                <li>Хостинг на 3 месяца</li>
                                                <li>Базовая SEO оптимизация</li>
                                                <li>Почтовый ящик</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single pricing table -->

                        <!-- Start Single pricing table -->
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="axil-pricing-table prcing-style-2 mt--40 active">
                                <div class="axil-pricing-inner">
                                    <div class="pricing-header">
                                        <h4><a href="/landing">Одностраничник</a></h4>
                                        <p>Landing Page</p>
                                        <div class="price-wrapper">
                                            <div class="price">
	                                            <span>от</span>
                                                <h2 class="heading headin-h3">42000 </h2>
	                                            <span>рублей</span>
                                            </div>

                                        </div>
                                        <div class="pricing-get-button">
                                            <a class="axil-button btn-large btn-transparent" href="/calc"><span class="button-text">Рассчитать стоимость</span><span class="button-icon"></span></a>
                                        </div>
                                        <span class="subtitle">Гарантия возврата денег</span>
                                    </div>
                                    <div class="pricing-body">
                                        <div class="inner">
                                            <ul class="list-style">
                                                <li>Уникальный дизайн</li>
                                                <li>Панель управления</li>
                                                <li>Домен и хостинг на 1 год</li>
                                                <li>Копирайтинг</li>
                                                <li>Метрика и аналитика</li>
                                                <li>Реклама</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single pricing table -->

                        <!-- Start Single pricing table -->
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="axil-pricing-table prcing-style-2 mt--40 mt_sm--60">
                                <div class="axil-pricing-inner">
                                    <div class="pricing-header">
                                        <h4><a href="/shop">Интернет-магазин</a></h4>
                                        <p>Витрина товаров</p>
                                        <div class="price-wrapper">
                                            <div class="price">
	                                            <span>от</span>
                                                <h2 class="heading headin-h3">70000 </h2>
	                                            <span>рублей</span>
                                            </div>
                                        </div>
                                        <div class="pricing-get-button">
                                            <a class="axil-button btn-large btn-transparent" href="/calc"><span class="button-text">Рассчитать стоимость</span><span class="button-icon"></span></a>
                                        </div>
                                        <span class="subtitle">Гарантия возврата денег</span>
                                    </div>
                                    <div class="pricing-body">
                                        <div class="inner">
                                            <ul class="list-style">
	                                            <li>Каталог товаров</li>
                                                <li>Фильтр товаров</li>
                                                <li>Панель продавца</li>
                                                <li>Системы оплаты</li>
                                                <li>Система статистики</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single pricing table -->
                    </div>
                </div>
                <div class="shape-group">
                    <div class="shape">
                        <i class="icon icon-shape-15"></i>
                    </div>
                </div>
            </div>
            <!-- End Pricing Table Area -->
            <!-- Start Brand Area -->
            <div class="axil-brand-area ax-section-gap bg-color-white">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-4 col-lg-4 col-md-8 col-12">
                            <div class="section-title">
                                <span class="sub-title extra06-color wow" data-splitting>наши клиенты</span>
                                <h2 class="title wow" data-splitting>Клиенты и партнеры нашей студии</h2>
                                <p class="subtitle-2 wow" data-splitting>Клиенты которые остались довольны качеством услуг.</p>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 mt_md--40 mt_sm--40">
                            <div class="axil-brand-logo-wrapper">
                                <ul class="brand-list liststyle d-flex flex-wrap justify-content-center">
                                    <li><a href="#">
                                            <img src="{% static 'assets/images/brand/klient-1.jpg' %}" alt="Brand Logo Images">
                                        </a></li>
                                    <li><a href="#">
                                            <img src="{% static 'assets/images/brand/klient-2.jpg' %}" alt="Brand Logo Images">
                                        </a></li>
                                    <li><a href="#">
                                            <img src="{% static 'assets/images/brand/klient-3.jpg' %}" alt="Brand Logo Images">
                                        </a></li>
                                    <li><a href="#">
                                            <img src="{% static 'assets/images/brand/klient-4.jpg' %}" alt="Brand Logo Images">
                                        </a></li>
                                    <li><a href="#">
                                            <img src="{% static 'assets/images/brand/klient-5.jpg' %}" alt="Brand Logo Images">
                                        </a></li>
                                    <li><a href="#">
                                            <img src="{% static 'assets/images/brand/klient-6.jpg' %}" alt="Brand Logo Images">
                                        </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Brand Area -->
            <!-- Start Blog Area -->
            <div class="axil-blog-area ax-section-gap bg-color-lightest">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title text-center">
                                <span class="sub-title extra04-color">пишут наши сотрудники</span>
                                <h2 class="title">Полезные статьи</h2>
                                <p class="subtitle-2">Будет полезно, как потенциальным клиентам, так и разработчикам.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-list-wrapper mt--20">
	                    {% for item in blog_list %}
                        <!-- Start Blog Area -->
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="axil-blog axil-control mt--40 active move-up wow">
                                <div class="content">
                                    <div class="content-wrap paralax-image">
                                        <div class="inner">
                                            <span class="category">{{ item.category }}</span>
                                            <h5 class="title"><a href="{% url 'blog:blog_detail' category_slug=item.category.slug slug=item.slug %}">{{ item }}</a></h5>
                                            <p>{{ item.description }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="thumbnail">
                                    <div class="image">
                                        <img src="{{ item.preview_image.url }}" alt="Blog images">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Blog Area -->
	                    {% endfor %}
                    </div>
                </div>
            </div>
            <!-- End Blog Area -->
            <!-- Start Call To Action -->
            {% include 'call.html' %}
            <!-- End Call To Action -->
        </main>
        <!-- End Page Wrapper -->
{% endblock content %}