{% load static %}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ object.meta_title }}</title>
<meta name="robots" content="noindex, follow" />
<meta name="description" content="{{ object.meta_description }}">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}">
<!-- CSS
============================================ -->
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'assets/css/vendor/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/font-awesome.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/icomoon.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/plugins/plugins.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">