{% load static %}
<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="{% static 'assets/js/vendor/modernizr.min.js' %}"></script>
<!-- jQuery JS -->
<script src="{% static 'assets/js/vendor/jquery.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/counterup.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<script src="{% static 'assets/js/tilt.js' %}"></script>
<script src="{% static 'assets/js/anime.js' %}"></script>
<script src="{% static 'assets/js/tweenmax.js' %}"></script>
<script src="{% static 'assets/js/slipting.js' %}"></script>
<script src="{% static 'assets/js/scrollmagic.js' %}"></script>
<script src="{% static 'assets/js/addindicators.js' %}"></script>
<script src="{% static 'assets/js/slick.js' %}"></script>
<script src="{% static 'assets/js/youtube.js' %}"></script>
<script src="{% static 'assets/js/countdown.js' %}"></script>
<script src="{% static 'assets/js/scrollup.js' %}"></script>
<script src="{% static 'assets/js/stickysidebar.js' %}"></script>
<script src="{% static 'assets/js/js.cookie.js' %}"></script>
<script src="{% static 'assets/js/jquery.style.switcher.js' %}"></script>
<script src="{% static 'assets/js/contactform.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'assets/js/plugins/plugins.min.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.5/jquery.inputmask.min.js"></script>
